Folder/pipeline/99_LAS_EDW_Rentabilidad_Landing_Purge.json
{
	"name": "99_LAS_EDW_Rentabilidad_Landing_Purge",
	"properties": {
		"description": "truncate all used landing tables",
		"activities": [
			{
				"name": "Lookup Table List",
				"description": "Lee la paremetria para iterar sobre todo lo que se quiera cargar.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [DirectorioOrigen]\n      ,[NombreArchivo]\n      ,[DelimitadorArchivo]\n      ,[EsquemaDestino]\n      ,[TablaDestino]\n  FROM [CNTRL_EDW_LAS].[ADF_PARAMETRIA_ARCHIVOS_ORIGEN]\n  WHERE Activo = 1\nORDER BY OrdenEjecucion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EDW_LAS_PARAMETRIA_ARCHIVOS_ORIGEN",
						"type": "DatasetReference",
						"parameters": {
							"CNTRL_Server": {
								"value": "@pipeline().parameters.CNTRL_Server",
								"type": "Expression"
							},
							"CNTRL_DB": {
								"value": "@pipeline().parameters.CNTRL_DB",
								"type": "Expression"
							},
							"CNTRL_Schema": {
								"value": "@pipeline().parameters.CNTRL_Schema",
								"type": "Expression"
							},
							"CNTRL_Table": {
								"value": "@pipeline().parameters.CNTRL_Table",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Load Config",
				"description": "Para cada parametria activa vamos a ir a buscar y cargar los archivos.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Truncate Table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'@{item().EsquemaDestino}.@{item().TablaDestino}') AND type in (N'U'))\nTRUNCATE TABLE @{item().EsquemaDestino}.@{item().TablaDestino}; SELECT 1;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "EWD_LAS_LANDING",
									"type": "DatasetReference",
									"parameters": {
										"SYNAPSE_Server": {
											"value": "@pipeline().parameters.SYNAPSE_Server",
											"type": "Expression"
										},
										"SYNAPSE_LandingDB": {
											"value": "@pipeline().parameters.SYNAPSE_LandingDB",
											"type": "Expression"
										},
										"SYNAPSE_LandingSchema": "@item().EsquemaDestino",
										"SYNAPSE_LandingTable": {
											"value": "@item().TablaDestino",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set TimeStamp",
				"description": "set the time stamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Timestamps",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"CNTRL_Server": {
				"type": "string",
				"defaultValue": "corpdnasqldv1.database.windows.net"
			},
			"CNTRL_DB": {
				"type": "string",
				"defaultValue": "DBCORPDNADV1"
			},
			"CNTRL_Schema": {
				"type": "string",
				"defaultValue": "CNTRL_EDW_LAS"
			},
			"CNTRL_Table": {
				"type": "string",
				"defaultValue": "ADF_PARAMETRIA_ARCHIVOS_ORIGEN"
			},
			"SYNAPSE_Server": {
				"type": "string",
				"defaultValue": "wsasadvcoedna.privatelink.sql.azuresynapse.net"
			},
			"SYNAPSE_LandingDB": {
				"type": "string",
				"defaultValue": "SQLLANDINGDVDNA"
			}
		},
		"variables": {
			"Timestamps": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LAS Landing"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-09T17:17:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}